*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #e91e63;
}

.menu-logo{
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-principal{
    width: 40rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10px;
}

.menu-perfil{
    width: 5rem;
    margin: 10px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo-cesde{
    width: 100%;
}

.contenedor-menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.opcion-menu{
    list-style: none;
    width: 5rem;
}

.enlace-menu-principal{
    color: white;
    text-decoration: none;
}

.enlace-perfil{
    margin: 5px 10px;
}

.img-perfil{
    border-radius: 100%;
}

.cuerpo-pagina{
    display: flex;
    flex-direction: row;
}

.contenedor-menu-lateral{
    width: 20rem;
    background-color: #EDEBEB;
}

.menu-lateral{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.enlace-atras{
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.img-atras{
    width: 2rem;
}

.caractegorias-titulo{
    width: 100%;
    text-align: center;
}

.lista-lateral{
    list-style: none;
    width: 80%;
    padding: 10px 0px;
}

.opciones-lista-lateral{
    margin: 10px 0px;
}

.lista-libros{
    width: 100rem;
    display: flex;
    flex-direction: column;
}

.contenedor-barra-busqueda{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.formulario-busqueda{
    width: 70%;
    height: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.barra-busqueda{
    border-radius: 50px 0px 0px 50px;
    background-color: #EDEBEB;
    width: 95%;
    height: 100%;
    margin: 0px;
    border: none;
    outline: none;
    padding: 0px 15px;
}

.boton-buscar{
    border-radius: 0px 50px 50px 0px;
    background-color: #EDEBEB;
    width: 15%;
    height: 100%;
    margin: 0px;
    padding: 0px 10px 0px 0px;
    border: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icono-lupa{
    color: #888;
    height: 1rem;
    width: 1rem;
}

.catalogo-libros{
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.libro{
    width: 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem;
    background-color: #EDEBEB;
    border-radius: 5px;
}

.portada-libro{
    display: block;
    margin: 0px;
    width: 100%;
    height: 13rem;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
}

.titulo-libro{
    text-align: center;
    margin: 5px 0px 0px 0px;
    padding: 2px;
    width: 100%;
    height: 2rem;
    font-size: 0.9rem;
}

.contenido-card{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    padding: 10px;
}

.autor-libro{
    width: 100%;
    margin-top: 20px;
    font-size: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.estrellas{
    width: 50%;
    margin: 0px;
    padding: 0px;
}

.ver-libro{
    text-align: start;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.pie-pagina{
    background-color: #e91e63;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contenedor-logo-pie-pagina{
    width: 10rem;
    height: 5rem;
    display: flex;flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-cesde-pie-pagina{
    object-fit: cover;
}

.informacion-pie-pagina{
    width: 50rem;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.categorias-pie-pagina{
    margin: 10px;
    width: 14rem;
}

.informacion-contacto-pie-pagina{
    margin: 10px;
    width: 14rem;
}

.redes-sociales-pie-pagina{
    margin: 10px;
    width: 14rem;
}

.titulo-pie-pagina{
    font-size: 1rem;
    color: white;
    width: 100%;
    margin-bottom: 15px;
}

.lista-desordenada-pie-pagina{
    list-style: none;
    font-size: 0.7rem;
    color: white;
}