/* Estilos genrales para que toda la pagina tenga la misma tipografia y sin margenes por defecto*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #ffffff;
}

/*Le di color y espacio al header para que se no te que es la parte superior del sitio
ademas se usa el flex para alinear el logo y el menu en una sola fila*/
header {
    background-color: #e91e63;
    color: white;
    padding: 20px;

    display: flex;
    align-items: center;
}

/*controlar el tamaño del logo cesde */
header img {
    width: 120px;
}


/*espaciado claro de los "a"  quitar el subrayado*/
nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

/*para poner los links en fila - centrarlos erticalmente - espacio uniforme entre ellos separar el logo del menu */
nav {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: auto;
}

/*Le quité el estilo por defecto al enlace principal para que se vea más limpio y coherente con el diseño*/
main a {
    text-decoration: none;
    color: #141414;
    font-weight: bold;
}


/*Use este pading para mejorar la lectura y separacion del contenido */
main {
    padding: 60px 40px;
}

/*para que el titulo principal destaque mas que el resto del texto*/
main h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

/*Se aunmenta el tamaño del texto - se limita el ancho del textopara que no se vea muy largo/extienda en las pantallas grandes
y se deja un espacio antes del boton*/
main p {
    font-size: 20px;
    max-width: 600px;
    margin-bottom: 25px;
}

/*Le da estilo y destaca el boton de "explorar libros*/
main a {
    display: inline-block;
    background-color: #e91e63;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

/*Efecto al pasar el mause por el boton por los main a*/
main a:hover {
    background-color: #c2185b;
}

/*diferecniar el footer - el padding evita que el contenid quede pegado a los bordes*/
footer {
    background-color: #e91e63;
    color: white;
    padding: 60px 40px;
}

/*organizar las seccion en columnas --- display: flex pone las secciones en fila -- space-between reparte espacio entre colomnas
flex wrap permiten que baje si la pantalla es pequeña*/
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*se quita los estilos que vienen por defecto de las listas*/
footer ul {
    list-style: none;
    padding: 0;
}

/*espacio entre los elementos de las listas*/
footer ul li {
    margin-bottom: 8px;
}

/*espacio debajo de los titulos para diferenciarlos */
footer h4 {
    margin-bottom: 15px;
}

/*contolo el ancho de cada columna para que el contenido no se estire muchoo*/
footer section {
    max-width: 300px;
}


/* estilo del boton"crear cuenta */
form button {
    background-color: #e91e63;
    color: white;
    padding: 14px 28px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

/*efecto al pasar el mouse por el boton de crear cuenta */
form button:hover {
    background-color: #c2185b;
}

/*estilo del boton de login*/
.btn-login {
    display: inline-block;
    background-color: transparent;
    color: #e91e63;
    padding: 12px 24px;
    border: 2px solid #e91e63;
    border-radius: 25px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 25px;
    margin-left: 70%;
}

/*sombra para el botin login*/
.btn-login:hover {
    background-color: #e91e63;
    color: white;
}




/*le doy estilo y forma a los campos del formulario*/
form input {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
}

/*alinear el titulo con formulario*/
.registro main h2 {
    margin-left: 70%;
}



/* formuario a laderecha y no puede ser mas ancho de 420px */
.registro main form {
    max-width: 420px;
    margin-left: 70%;
}

.editprofile main form {
    max-width: 420px;
    margin-left: 70%;
}

.editprofile main h2 {
    margin-left: 70%;
}

.changepassword main form {
    max-width: 420px;
    margin-left: 70%;
}

.changepassword main h2 {
    margin-left: 70%;
}

/* Para que el texto que dice que va en las cajasde texto este en negrita con margen y un espaciado*/
label {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px;
}

/* Hereda el color del texto de su padre, Quita la línea de abajo de los link del footer */
section ul li a {
    color: inherit;
    text-decoration: none;
}

.editprofile {
    position: absolute;
  min-height: 100vh;
    background-image: url(/src/fondo-main.jpeg);
    
}
