/* Estilos genrales para que toda la pagina tenga la misma tipografia y sin margenes por defecto*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #ffffff;
}

/*Le di color y espacio al header para que se no te que es la parte superior del sitio
ademas se usa el flex para alinear el logo y el menu en una sola fila*/
header {
    background-color: #141414;
    color: white;
    padding: 20px;

    display: flex;
    align-items: center;
}

/*controlar el tamaño del logo cesde */
header img {
    width: 120px;
}


/*espaciado claro de los "a"  quitar el subrayado*/
nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

/*para poner los links en fila - centrarlos erticalmente - espacio uniforme entre ellos separar el logo del menu */
nav {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: auto;
}

/*Le quité el estilo por defecto al enlace principal para que se vea más limpio y coherente con el diseño*/
main a {
    text-decoration: none;
    color: #141414;
    font-weight: bold;
}


/*Use este pading para mejorar la lectura y separacion del contenido */
main {
    padding: 60px 40px; 
}

/*para que el titulo principal destaque mas que el resto del texto*/
main h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

/*Se aunmenta el tamaño del texto - se limita el ancho del textopara que no se vea muy largo/extienda en las pantallas grandes
y se deja un espacio antes del boton*/
main p {
    font-size: 20px;
    max-width: 600px;
    margin-bottom: 25px;
}

/*Le da estilo y destaca el boton de "explorar libros*/
main a {
    display: inline-block;
    background-color: #e91e63;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

/*Efecto al pasar el mause por el boton "explorar libros*/
main a:hover {
    background-color: #c2185b;
}






